.vscode
build/
output/
logs/
data/*
**/__pycache__/
*.deb

*.log
*.pdf
3rd_party/ACORN
3rd_party/DiskANN
3rd_party/NHQ
3rd_party/ParlayANN
3rd_party/Unified-Navigating-Graph
3rd_party/flann
3rd_party/hnswlib
data
output
